@import "@inspektor/ds/baseline.css";

:root {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light dark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
